/* Theme Color Overrides */
* {
    -fx-bg-color-1: #2b2b2b;
    -fx-bg-color-2: #333333;
    -fx-bg-color-3: #555555;

    -fx-text-color: #f0f0f0;
    -fx-hover-text-color: #444444;
    -fx-disabled-text-color: #999999;

    -fx-btn-color: #4285f4;
    -fx-hover-btn-color: #357ae8;
    -fx-disabled-btn-color: #555555;

    -fx-border-color-1: #444444;
    -fx-cell-border-color: #888888;

    -fx-error-color: #ff5454;
}

/* TableView */
.table_view {
    -fx-background-color: #2f2f2f;
    -fx-border-color: -fx-border-color-1;
    -fx-table-cell-border-color: #3a3a3a;
    -fx-selection-bar: #555555; /* Highlight selected row */
    -fx-selection-bar-non-focused: #4a4a4a;
}

.table_columns {
    -fx-background-color: #3a3a3a;
    -fx-border-color: -fx-border-color-1;
    -fx-border-width: 0 0 1px 0;
}