

/* General Styles */
.root {
    -fx-background-color: -fx-bg-color-1;
    -fx-text-fill: -fx-text-color;
    -fx-text-background-color: -fx-text-color;
}

/* MenuBar and Menus */
.menu_bar {
    -fx-border-width: 0 0 1px 0;
    -fx-background-color: -fx-bg-color-2;
    -fx-border-color: -fx-border-color-1;
}

.menu_bar .container .menu .label, .menu_options, .menu_items{
    -fx-text-fill: -fx-text-color;
}

.menu_items:hover {
    -fx-background-color: -fx-hover-text-color;
}

/* TableView */
.table_view {
    -fx-border-radius: 5px;
    -fx-padding: 0;
}

.table_columns, .table_columns .label {
    -fx-alignment: CENTER_LEFT;
    -fx-border-width: 0 0 1px 0;
}

.table-row-cell:selected {
    -fx-font-weight: bold;
    -fx-background-color: -fx-bg-color-3;
    -fx-text-background-color: #14d15f;
    -fx-text-fill: #13b842;
}

.table-view .cell {
    -fx-border-width: 0.1;
    -fx-border-color: -fx-cell-border-color;
}

.table-row-cell:empty .cell {
    -fx-border-width: 0.0;
    -fx-border-color: transparent;
}

/* TextField and ComboBox */
.text-field, .combo-box {
    -fx-border-radius: 5px;
    -fx-padding: 5 10;
    -fx-pref-width:200px;
    -fx-text-fill: -fx-text-color;
    -fx-prompt-text-fill: -fx-disabled-text-color;
    -fx-background-color: -fx-bg-color-2;
    -fx-border-color: -fx-disabled-btn-color;
}
.combo-box:editable .text-field {
    -fx-padding: 0;
    -fx-border-color: transparent;
}
.combo-box:editable .arrow-button {
    -fx-background-color: transparent;
}

.text-field:focused, .combo-box:focused {
    -fx-border-color: #19b54d;
}
.combo-box .list-cell {
    -fx-background-color: -fx-bg-color-2;
    -fx-prompt-text-fill: -fx-disabled-text-color;
    -fx-text-fill: -fx-text-color;
}

#imageBtn {
    -fx-padding: -8px;
}

/* Buttons */
.db_btn {
    -fx-pref-width:200px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10 20;
    -fx-cursor: hand;

    -fx-background-color: -fx-btn-color;
    -fx-text-fill: #ffffff;
}

.db_btn:disabled {
    -fx-cursor: default;
    -fx-background-color: -fx-disabled-btn-color;
    -fx-text-fill: -fx-disabled-text-color;
}

.db_btn:hover {
    -fx-background-color: -fx-hover-btn-color;
}

/* Left Pane (Profile Section) */
.image_view {

}
.left_pane {
    -fx-border-width: 0 1px 0 0;
    -fx-border-radius: 5px;
    -fx-background-color: -fx-bg-color-2;
    -fx-border-color: -fx-border-color-1;
}

/* Admin Section (Bottom HBox) */
.admin_section {
    -fx-border-width: 0 0 0 0;
    -fx-background-color: -fx-bg-color-2;
    -fx-border-color: -fx-border-color-1;
}

#error-message {
    -fx-text-fill: -fx-error-color;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}


/* Context Menu (Optional) */
.context-menu {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: -fx-bg-color-2;
    -fx-border-color: -fx-border-color-1;
}

.context-menu .menu-item:hover {
    -fx-background-color: -fx-bg-color-3;
}

/* Scroll Bar */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: -fx-bg-color-3;
    -fx-background-insets: 1, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}
.scroll-bar .thumb {
    -fx-max-width: 20px;
    -fx-max-height: 20px;
}
.scroll-bar .track {
    visibility: false;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-shape: null;
    -fx-background-color: transparent;
    -fx-max-width: 0;
    -fx-max-height: 0;
    -fx-opacity: 0;
}

/* General ProgressBar Styling */
.progress-bar {
}

.progress-bar .track {
    -fx-background-color: transparent; /* Track color */
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(66, 244, 90, 0.55)); /* Gradient for the progress */
}

.progress-bar:indeterminate .bar {
    -fx-background-color: linear-gradient(to right, rgba(200, 200, 200, 0.33) 0%, rgba(142, 142, 142, 0.46) 50%, rgba(113, 113, 113, 0.68) 100%);
}


