* {
    -fx-bg-color-1: #f9f9f9;
    -fx-bg-color-2: #ffffff;
    -fx-bg-color-3: #b1b1b1;

    -fx-text-color: #333333;
    -fx-hover-text-color: #e6f7ff;
    -fx-disabled-text-color: #999999;

    -fx-btn-color: #4285f4;
    -fx-hover-btn-color: #357ae8;
    -fx-disabled-btn-color: #cccccc;

    -fx-border-color-1: #dddddd;
    -fx-cell-border-color: #939393;

    -fx-error-color: #ff0000;
}

/* TableView */
.table_view {
    -fx-background-color: #ffffff;
    -fx-border-color: -fx-border-color-1;
    -fx-table-cell-border-color: #eeeeee;
    -fx-selection-bar: #d1e7fd; /* Highlight selected row */
    -fx-selection-bar-non-focused: #eaf3fd;
}

.table_columns {
    -fx-background-color: #f5f5f5;
    -fx-border-color: -fx-border-color-1;
    -fx-border-width: 0 0 1px 0;
}

.tool-bar {
    -fx-background-color: #f5f5f5;
    -fx-border-color: -fx-border-color-1;
    -fx-border-width: 0 0 1px 0;
}
