<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<style>
    body{
        font-family: Arial,serif;
    }
</style>
<body>
    <h2>Help</h2>
    <h3>How to insert students:</h3>
<ul>
    <li>First and Last names must be valid.</li>
    <li>Department name must be valid.</li>
    <li>Major must be in the listed majors</li>
    <li>Email must end with '@farmingdale.edu'.</li>
    <li>Image file must a valid image file. (png, jpg, ..etc)</li>
</ul>
</body>
</html>